body {
  background-image: url(../img/background_body_celeste.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar.navbar-expand-lg.bg-warning {
  background-color: rgb(26, 216, 203) !important;
  height: 20vh;
}

.fa-brands.fa-linkedin.fa-2xl:hover {
  color: rgb(13, 9, 237);
}

.fa-brands.fa-github.fa-2xl:hover {
  color: rgb(11, 11, 11);
}

.fa-solid.fa-user.fa-2xl:hover {
  color: rgb(108, 106, 106);
}

.list-group {
  --bs-list-group-bg: transparent;
  --bs-list-group-border-color: transparent;
}

.list-group-item {
  color: white;
}

.banner {
  max-width: 100%;
  max-width: 100%;
  margin-bottom: auto;
  overflow: hidden;
  border: none;
  height: 40vh;
}

.div {
  text-align: center;
}

.row {
  padding: 20px;
}

/* Estilo de foto de perfil */

/* Estilo de nombre */
#nombre {
  font-weight: bold;
  margin-top: 15%;
}

#acerca_de_mi {
  margin-top: 2%;
}

#titulo_acerca_de_mi {
  font-weight: bold;
}
